In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data cleaning
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [ ]:
# To display random samples of data
df.sample(10, random_state =42)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
266130,Data Engineer,Midlevel o Senior Data Engineer,"Santiago, Chile",via BeBee,Temp work,False,Chile,2023-10-09 07:45:58,True,False,Chile,None,NaN,NaN,23people,"['sql', 'python', 'java', 'airflow']","{'libraries': ['airflow'], 'programming': ['sq..."
679340,Data Engineer,"Data Engineer - AWS, Azure or GCP",Anywhere,via LinkedIn,Full-time,True,Belgium,2023-05-31 11:03:43,True,False,Belgium,None,NaN,NaN,Orbis,"['python', 'aws', 'azure', 'gcp', 'tableau', '...","{'analyst_tools': ['tableau', 'qlik', 'sap', '..."
114748,Data Engineer,Data Engineer,"Fairfax, VA",via LinkedIn,Full-time,False,Sudan,2023-07-21 09:02:50,False,False,Sudan,None,NaN,NaN,CGI,"['c', 'aws']","{'cloud': ['aws'], 'programming': ['c']}"
269897,Data Analyst,Tobania - Senior BI Engineer,"Brussels, Belgium",via BeBee Belgique,Full-time,False,Belgium,2023-06-29 08:15:07,True,False,Belgium,None,NaN,NaN,Tobania,"['python', 'sql', 'databricks', 'snowflake', '...","{'analyst_tools': ['power bi'], 'cloud': ['dat..."
672509,Senior Data Scientist,Senior Data Scientist,United Kingdom,via BeBee,Full-time,False,United Kingdom,2023-11-17 10:15:42,False,False,United Kingdom,None,NaN,NaN,Wenham Carter Group,"['sql', 'python', 'mongodb', 'mongodb', 'postg...","{'databases': ['mongodb', 'postgresql'], 'libr..."
41768,Data Analyst,Data System Analyst,"Los Angeles, CA",via Indeed,Full-time,False,"California, United States",2023-10-17 06:00:48,False,False,United States,year,158950.0,NaN,UCLA Health,"['sql', 'sql server', 'oracle', 'tableau', 'ex...","{'analyst_tools': ['tableau', 'excel', 'ssrs',..."
720504,Data Engineer,DATA SCIENCE ENGINEERING MANAGER F/H,"Massy, France",via Indeed,Full-time,False,France,2023-03-03 21:29:01,False,False,France,None,NaN,NaN,Carrefour,"['python', 'bigquery', 'spark', 'airflow', 'ku...","{'cloud': ['bigquery'], 'libraries': ['spark',..."
385013,Data Scientist,Data Scientist - Ob/Gyn Research,"Houston, TX",via Hire Generation,Full-time,False,Sudan,2023-04-28 18:56:05,False,False,Sudan,None,NaN,NaN,Houston Methodist,None,None
718765,Data Engineer,Lead/Sr. Data Engineer,Anywhere,via LinkedIn,Full-time,True,Georgia,2023-02-02 22:03:12,False,False,United States,None,NaN,NaN,Smart IT Frame LLC,"['sql', 'aws', 'kafka', 'terraform']","{'cloud': ['aws'], 'libraries': ['kafka'], 'ot..."
375326,Data Engineer,Data Engineer Mid - Fort Belvoir VA,"Fort Belvoir, VA",via ZipRecruiter,Full-time,False,Sudan,2023-08-05 19:41:17,False,False,Sudan,None,NaN,NaN,Veteran Jobs - 2023 Mar 01 - Veterans Resources,"['sql', 'nosql', 'airflow', 'sharepoint']","{'analyst_tools': ['sharepoint'], 'libraries':..."

In [6]:
dataset = load_dataset('lukebarousse/data_jobs')
df_original = dataset['train'].to_pandas()

In [8]:
df_altered = df_original.copy()

In [10]:
print(f"ID of df_original:                {id(df_original)}")
print(f"ID of df_altered:                 {id(df_altered)}")
print(f"Are the two dataframes the same?  {id(df_original) == id(df_altered)}")

ID of df_original:                6058523088
ID of df_altered:                 13053250448
Are the two dataframes the same?  False

In [13]:
median_salary = df_altered['salary_year_avg'].median()

df_altered['salary_year_avg'] = df_altered['salary_year_avg'].fillna(median_salary)

df_altered.loc[:5, 'salary_year_avg']

0    115000.0
1    115000.0
2    115000.0
3    115000.0
4    115000.0
5    115000.0
Name: salary_year_avg, dtype: float64

In [14]:
df_original.loc[:5, 'salary_year_avg']

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
Name: salary_year_avg, dtype: float64